/******************************
Header Styling
*******************************/

.hider {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #005eb7;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
}

.lgo {
    color: white;
    font-size: 170%;
    padding-left: 30%;
    padding-top: 7%;
    font-family: Open Sans !important;
}

.lgo-icon {
    padding-left: 15%;
    padding-top: 7%;
    height: 100%;
    width: auto;
}

.card-title h6 {
    font-weight: bold;
}

.btn-link {
    text-decoration: none!important;
    background-color: aliceblue!important;
}


.btn-link:hover {
    background: #D7ECFF!important;
}

.body {
    padding-top: 3%!important;
    padding-bottom: 3%;!important;
    max-width: 1000px;
    margin: auto;
    max-width: 1400px;
    margin: auto;
}
.card {
    text-align: center!important;
}


/******************************
New Ideas Styling
*******************************/

.crimson {
    color: crimson!important;
}

.logo-caml {
    width: 4%;
    height: auto;
}

.logo-caml:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*.logo-caml:hover {*/
    /*opacity: 0;*/
/*}*/

/******************************

Login Page
*******************************/
.main-content{
    background-color: #D7ECFF;
}
.panel-body {
    padding: 30px 13px;
}

.page-content {
    text-align: center!important;

}

/******************************
Profile Styling
*******************************/

.body /*alta clasa*/
{
    font-family: 'Lato', 'sans-serif';
}
.profile
{
    min-height: 355px;
    display: inline-block;
}
figcaption.ratings
{
    margin-top:20px;
}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
}
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
}
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
    border-top: 4px solid transparent;
}
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider
{
    background:none;
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
#logo-caml{

    width: 39px;
    height: auto;
    padding-top: 10%;
    box-sizing: content-box;
    font-family: Open_sans,Helvetica,Arial,sans-serif;
}

.panel  {
    margin-bottom: 80px;
    margin-left: 580px!important;
    margin-right: 580px!important;
    margin-top: 130px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 30px -5px rgba(0,0,0,.1);
    box-sizing: border-box;
}

#_username {
    margin-right: 60%;
    margin-top: 10%;
}

#password_ {
    margin-right: 78%;
    margin-top: 2%;
}

.checkbox {
    margin-top: -4%;
}

#_checkbox {
    float:left;
}

#forgot_password {
    float:right;
}

.login_button {
    margin-top: 10%;
}
#uploadimg{
    float: left;
}

/******************************
Home Styling
*******************************/

.left-inform {
    text-align: start!important;
    font-weight: bold;
}

.right-inform {
    text-align: end!important;
}

