/******************************
Header Styling
*******************************/

.hider {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #005eb7;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
}

.lgo {
    color: white;
    font-size: 170%;
    padding-left: 30%;
    padding-top: 7%;
    font-family: Open Sans !important;
}

.lgo-icon {
    padding-left: 15%;
    padding-top: 7%;
    height: 100%;
    width: auto;
}

.card-title h6 {
    font-weight: bold;
}

.btn-link {
    text-decoration: none!important;
    background-color: aliceblue!important;
}


.btn-link:hover {
    background: #D7ECFF!important;
}

.body {
    padding-top: 5%!important;
    max-width: 1400px;
    margin: auto;
}

.card {
    text-align: center!important;
}

/******************************
New Ideas Styling
*******************************/

.crimson {
    color: crimson!important;
}

.logo-caml {
    width: 4%;
    height: auto;
}

.logo-caml:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*.logo-caml:hover {*/
    /*opacity: 0;*/
/*}*/