/******************************
Header Styling
*******************************/

.hider {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #005eb7;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
}

.lgo {
    color: white;
    font-size: 170%;
    padding-left: 30%;
    padding-top: 7%;
    font-family: Open Sans !important;
}

.lgo-icon {
    padding-left: 15%;
    padding-top: 7%;
    height: 100%;
    width: auto;
}

.card-title h6 {
    font-weight: bold;
}

.btn-link {
    text-decoration: none!important;
    color: crimson!important;
    background-color: aliceblue!important;
}


.btn-link:hover {
    background: #D7ECFF!important;
}

#accordions {
    max-width: 1400px;
    margin: auto;
}

.body {
    padding-top: 5%!important;
    max-width: 1400px;
    margin: auto;
}
.card {
    text-align: center!important;
}

/******************************
Login Page
*******************************/
.main-content{
    background-color: #D7ECFF;
}
.panel-body {
    padding: 30px 13px;
}

.page-content {
    text-align: center!important;
    padding-top: 10%;
    box-sizing: content-box;
    font-family: Open_sans,Helvetica,Arial,sans-serif;
}

.panel  {
    margin-bottom: 80px;
    margin-left: 580px!important;
    margin-right: 580px!important;
    margin-top: -25px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 30px -5px rgba(0,0,0,.1);
    box-sizing: border-box;
}

#_username {
    margin-right: 60%;
    margin-top: 10%;
}

#password_ {
    margin-right: 78%;
    margin-top: 2%;
}

.checkbox {
    margin-top: -4%;
}

#_checkbox {
    float:left;
}

#forgot_password {
    float:right;
}

.login_button{
    margin-top: 10%;
}